# temporary catalogs
*.csv
*.json
.build
.3thd
.cache

# build and run artefacts 
CMakeUserPresets.json
Doxyfile
bin
docs
var
build/pre-push
build/buildfab
build/version

# IDE
*.geany

# secrects
.env
.pvs_studio.lic